<div id="<%= dom_id user_post %>">
  <p>
    <strong>Profile:</strong>
    <%= user_post.profile_id %>
  </p>

  <p>
    <strong>Written text:</strong>
    <%= user_post.written_text %>
  </p>

  <p>
    <strong>Media location:</strong>
    <%= user_post.media_location %>
  </p>

</div>
