<p style="color: green"><%= notice %></p>

<h1>User posts</h1>

<div id="user_posts">
  <% @user_posts.each do |user_post| %>
    <%= render user_post %>
    <p>
      <%= link_to "Show this user post", user_post %>
    </p>
  <% end %>
</div>
