<div id="<%= dom_id post_reaction %>">
  <p>
    <strong>Post:</strong>
    <%= post_reaction.post_id %>
  </p>

  <p>
    <strong>Profile:</strong>
    <%= post_reaction.profile_id %>
  </p>

  <p>
    <strong>Reaction:</strong>
    <%= post_reaction.reaction_id %>
  </p>

</div>
