<h1>Editing post reaction</h1>

<%= render "form", post_reaction: @post_reaction %>

<br>

<div>
  <%= link_to "Show this post reaction", @post_reaction %> |
  <%= link_to "Back to post reactions", post_reactions_path %>
</div>
