<div id="<%= dom_id post_comment %>">
  <p>
    <strong>Post:</strong>
    <%= post_comment.post_id %>
  </p>

  <p>
    <strong>Profile:</strong>
    <%= post_comment.profile_id %>
  </p>

  <p>
    <strong>Comment text:</strong>
    <%= post_comment.comment_text %>
  </p>

</div>
