<p style="color: green"><%= notice %></p>

<h1>Reactions</h1>

<div id="reactions">
  <% @reactions.each do |reaction| %>
    <%= render reaction %>
    <p>
      <%= link_to "Show this reaction", reaction %>
    </p>
  <% end %>
</div>
