<div id="<%= dom_id friendship %>">
  <p>
    <strong>Profile request:</strong>
    <%= friendship.profile_request %>
  </p>

  <p>
    <strong>Profile accept:</strong>
    <%= friendship.profile_accept %>
  </p>

</div>
