<p style="color: green"><%= notice %></p>

<h1>Friendships</h1>

<div id="friendships">
  <% @friendships.each do |friendship| %>
    <%= render friendship %>
    <p>
      <%= link_to "Show this friendship", friendship %>
    </p>
  <% end %>
</div>
